<div *ngIf="!isAuthenticated">
<mat-card class="mat-card-wrapper">
  <mat-card-content class="card-container">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <h2>Finerio </h2>
      <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="username" name="username" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Contraseña" [(ngModel)]="password" name="password" required>
      </mat-form-field>
      <mat-error *ngIf="isError">
        El usuario o contraseña son incorrectos
      </mat-error>
      <button mat-raised-button color="primary" >Entrar</button>
    </form>
  </mat-card-content>
</mat-card>
</div>

<div *ngIf="isAuthenticated" class="authenticated-wrapper">
  <div class="info-logout-container">
  <div class="user-info">
    <h2>¡Hola, {{user.name}}!</h2>
    <h3>{{user.email}}</h3>
  </div>
  <button mat-raised-button color="warn" (click)="onLogout()">Salir</button>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="dateCreated">
    <th mat-header-cell *matHeaderCellDef> Creado en </th>
    <td mat-cell *matCellDef="let element"> {{element.dateCreated}} </td>
  </ng-container>


  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef> Monto </th>
    <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
  </ng-container>

  <ng-container matColumnDef="customDescription">
    <th mat-header-cell *matHeaderCellDef> Descripción </th>
    <td mat-cell *matCellDef="let element"> {{element.customDescription}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr class="row-cell" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div *ngFor="let element of dataSource;" class="responsive-cards">
<mat-card>
  <mat-card-content>{{element.dateCreated}}</mat-card-content>
  <mat-card-content>{{element.amount}}</mat-card-content>
  <mat-card-content>{{element.customDescription}}</mat-card-content>
</mat-card>
</div>
  </div>